.submenu {
text-align: center;
}
.submenu a{
	cursor: pointer;
	color: #99a1b3;
}
.submenu section{
	padding: 5px 10px 5px 25px;
	background: #f2f4f8;
	border-bottom: 1px solid #e0e4ed;
}
.submenu section:hover{
	border-left: 4px solid #99a1b3;	
}
.header a{
	
	color: #5b6d81;
}
.panel{
	color: #99a1b3;
}
.panel-default>.panel-heading{
	background-color: #f2f4f8;
	border-color: #e0e4ed;
}